/* Global */


body{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    background-color: rgb(43, 43, 43);
    margin: 0;
}

*{
    color: white;
    text-decoration: none;
}
/* /Global */


/* Header */

#title{
    font-style: oblique;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header{
    background-color: black;
    padding: 10px;
}


.nav-button a{
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;

}

.nav-button a:hover{
    background-color: grey;
    
    
}

@media (max-width: 600px) {
    .nav-button{
        display: block;
        flex-direction: column;

        font-size: 100%;
    }
}

/* /Header */

/* Body */

#photo{
    display: block;
    border-radius: 40px;
    width: 300px;
    height: 300px;

}

.body-div{
    display: flex;
    border-radius: 40px;
    width: 80%;
    margin: 50px;
    padding: 50px;
    background-color: #584B5C;
}

.text{
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    padding: 2%;
}

.logos{
    width: 40px;
    padding: 5px;
}


@media (max-width: 600px) {
    .body-div{
        display: block;
        justify-items: center;
        margin: 7%;
        padding: 3%;
        
    }
    #photo{
        flex-direction: column;
        width: 80%;
        height: 80%;
    }
}

/* Projects */

.project-images{
    border-radius: 20px;
    justify-content: space-around;
    width: 310px;

}


.tech {
    display: flex;
    width: 700px;
    margin-left: 15%;
}

@media (max-width: 900px) {
    .tech{
        width: 90%;
        margin-left: 0;
    }

    .project-images{
        width: 100%;
    }

    
}

.text-projects{
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    font-style: italic;
}

/* /Projects */

/* Table-Contacts */

.table-div{
    border-radius: 40px;
    margin: 50px;
    height: 410px;
    padding: 60px;
    background-color: #584B5C; 
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-color{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-names{
    font-family: 'Roboto Mono', monospace;
}

form p{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}



.style-table{
    outline: unset;
    padding: 9px;
    min-width: 290px;
    border: 1px rgb(49, 49, 49);
    border-radius: 10px;

}

.style-button{
    background-color: #A86CA8;
    color: white;
    cursor: pointer;
}

.style-table:focus{
    background-color: rgb(213, 167, 255);
    
}

@media (max-width: 900px) {
    .table-div{
        border-radius: 40px;
        margin: 10px;
        height: 500px;
    }
    

    
}

/* /Table-Contacts */

/* /Body */

